body{
    background-color: lab(55.81% 16.3 -69.16);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.moon{
    background-image: linear-gradient(30deg, black, black);
    width: 256px;
    height: 256px;
    border-radius: 50%;
    position: relative;
    margin-top: 150px;
}
.moon::before{
    content: '';
    background-color: #ff0000;
    position:absolute ;
    display: block;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    z-index: -1;
    animation: 4s moonlight linear infinite alternate;
}
@keyframes moonlight {
    0%{
        transform: translate(60px,-60px)scale(0.8);
    }
    50%{
        transform: translate(0px,0px) scale(1.1);
        box-shadow: 0 0 10px #0091ff, 0 0 80px 8px #e40505 ;
    }
    100%{
        transform: translate(-60px,60px) scale(0.9);
        box-shadow: none;
    }
    
        
}
.moon{
    background-image: linear-gradient(30deg, rgb(192, 0, 0), rgba(0, 0, 0, 0.63));
    width: 256px;
    height: 256px;
    border-radius: 50%;
    position: relative;
    margin-top: 160px;
}
.moon::before{
    content: '';
    background-color: #ff0000;
    position:absolute ;
    display: block;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    z-index: -1;
    animation: 10s moonlight linear infinite alternate;
}
@keyframes moonlight {
    0%{
        transform: translate(80px,-90px)scale(0.8);
    }
    50%{
        transform: translate(0px,0px) scale(1.1);
        box-shadow: 0 0 10px #0091ff, 0 0 80px 20px #ffffff ;
    }
    100%{
        transform: translate(-100px,60px) scale(0.9);
        box-shadow: none;
    }
}